*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/Bitmap.png)no-repeat center center / cover;
}
.nav_li{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;    
}
.btn_1{
    background: #FCB72B;
    width: 180px;
    height: 50px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;   
    transition: 0.5s; 
}
.nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_content_left{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav{
    padding: 20px 0;
}
.header_h1{
    width: 400px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;    
}
.header_p{
    width: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}
.btn_2{
    background: #FCB72B;
    width: 180px;
    height: 50px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
}
.btn_1:hover{
    background: none;
    border: 1px solid #FCB72B;
    width: 180px;
    height: 50px;
    color: #FCB72B;
}
.btn_2:hover{
    background: none;
    border: 1px solid #FCB72B;
    width: 180px;
    height: 50px;
    color: #FCB72B;
}
.header_content_left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header_content{
    padding: 120px 0;
}
.img1{
    position: absolute;
    top: 400px;
    left:0;
}
.img2{
    position: absolute;
    top: 400px;
    left:700px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 90px;
}
.main_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #495567;    
}
.main_p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 280px;
    color: #939CAA;    
}
.left_1{
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left_2{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left_3{
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img_4{
    width: 95px;
    height: 95px;
}
.main_content_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_content{
    padding: 160px 0;
}
span{
    position: absolute;
    width: 970px;
    left:0;
    top: 915px;
    z-index: 1;
    border: 10px solid #E5ECF4;    
}
.siroj_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #495567;
    width: 300px;
}
.siroj_p{
    width: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.btn_3{
    background: #FCB72B;
    width: 180px;
    height: 50px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
}
.btn_3:hover{
    background: none;
    border: 1px solid #FCB72B;
    width: 180px;
    height: 50px;
    color: #FCB72B;
}
.siroj_content_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;

}
.siroj_content{
    display: flex;
    justify-content: space-between;
}
.img_5{
    border-radius: 50%;
}

.box_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #495567;
    width: 350px;
}
.box_p{
    width: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.btn_4{
    background: #FCB72B;
    width: 180px;
    height: 50px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
}
.btn_4:hover{
    background: none;
    border: 1px solid #FCB72B;
    width: 180px;
    height: 50px;
    color: #FCB72B;
}
.box_content_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;

}
.img_7{
    border-radius: 50%;
}
.box_content{
    display: flex;
    align-items: center;
    gap: 200px;
    margin-left:-50px;
}
.box_content_right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.group_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #495567;
    width: 300px;
}
.group_p{
    width: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.btn_5{
    background: #FCB72B;
    width: 180px;
    height: 50px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
}
.btn_5:hover{
    background: none;
    border: 1px solid #FCB72B;
    width: 180px;
    height: 50px;
    color: #FCB72B;
}
.group_content_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;

}
.group_content{
    display: flex;
    justify-content: space-between;
}
.img_8{
    border-radius: 50%;
}
.footer_content_top{
    background: url(img/Mask.png) no-repeat center center / cover;
    height: 45vh;
}
.top_h1{
    width: 350px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;    
}
.top_right{
    display: flex;
    gap: 20px;
}
.top_box{
    padding: 90px 0;
    justify-content:space-between;
    display: flex;
    align-items: center;
}
.bootom_li{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    transition: 0.5s;
}
.footer_content_bottom{
    background: #333A44;
}
.bottom_box{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bottom_left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.bottom_right{
    display: flex;
    align-items: center;
    gap: 25px;

}
.footer_box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.bootom_li:hover{
    color: #FCB72B;
}